.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.about-heading{
    font-family: 'fantasy';
}
.about-description{
    font-family:monospace;
}