.contact-us-container{
    
}
.contact-sub-container{
    background-image: url('/src/assets/contact.jpg');
    /* filter: brightness(80%) saturate(0.8); */
    height:60vh;
    background-size: cover;
    top: 0;
    padding:1px;
}
.get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80%;
}
.contact-heading{
    font-size: 72px;
    /* color: #ffffff; */
    color: #cc0066;
    font-family: 'Lucida Handwriting';
    font-weight: bold;
    margin-bottom: 10px;
}
.contact-des{
    font-size: 36px;
    /* color: #ffffff; */
    /* color:#003366; */
    color: #006666;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
}
.contact-information-container{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    padding:80px;
}
.contact-phone-icon{
    color: #454545;
    font-size: 40px;
    min-width: 40px;
    min-height: 40px;
    padding:10px;
}
.contact-phone-des{
    color:#383838;
    font-size: 20px;
    letter-spacing: 1.5px;
    -webkit-transition: color 200ms;
    font-weight: 800;
    display: inline-block;
    padding:5px;
    /* margin-bottom: 0px; */
}
.contact-phone-num{
    cursor: pointer;
    text-decoration: none;
    color:#006666;
    font-family: bold;
    font-size: 20px;
    padding:5px;
}
.leave-us-info-container{
    background-color: #f3f3f3;
    padding:10px;
}
.leave-us-heading{
    font-family: 'Cambria';
    font-weight: bold;
    color:#3a3a3a;
}
.leave-us-des{
    font-style: italic;
    color:#747474;
    font-size: 18px;
    margin-bottom: 40px;
}
.submit-btn{
    background-color: #133a67;
    border:none;
    padding:15px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Lucida Bright';
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}